AddDefaultCharset utf-8

    Options +FollowSymLinks
    Options -Indexes
    DirectoryIndex index.php

    RewriteEngine On
    RewriteBase /
 RewriteRule ^api/([a-z]+)/$ /?page=api&u=$1&%{QUERY_STRING} [NS,L]
 RewriteRule ^api/([a-z]+)$ /?page=api&u=$1&%{QUERY_STRING} [NS,L]
 RewriteRule ^api/profile/([a-z]+)/$ /?page=api&u=profile&t=$1&%{QUERY_STRING} [NS,L]
  RewriteRule ^api/profile/([a-z]+)$ /?page=api&u=profile&t=$1&%{QUERY_STRING} [NS,L]

	RewriteCond $1 !^(index\.php)
    RewriteCond %{REQUEST_URI} !\.(css│js│jpg│gif)$
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L,QSA]
	php_flag display_errors off
